<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>האתר של נועם</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        img.a {
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body dir="rtl" style="background: linear-gradient(to right, red, blue); color: white;">
    <center>
        <h2>הפרויקט של נועם</h2>
        <p><%= Session["name"] != null ? Session["name"] : "שלום, אורח" %></p>

        <table style="width: 100%">
            <tr style="height: 250px">
                <th>
                    <a href="home.aspx"><img class="a" src="images/Home.png" /></a>
                    <a href="gallery.aspx"><img class="a" src="images/גלריה.png" /></a>    
                    <a href="info.aspx"><img class="a" src="images/info.png" /></a>

        <% if (Session["nihol"] != "ok" && Session["user"] != "ok") { %>
    <a href="harshama.aspx"><img class="a" src="images/harshama.png" /></a>  
    <a href="entrance.aspx"><img class="a" src="images/entrance.png" /></a>   
<% } %>

<%-- הוספת פריט ויציאה - פתוח גם למשתמש רשום וגם למנהל לפי המחוון --%>
<% if (Session["nihol"] == "ok" || Session["user"] == "ok") { %>
    <a href="Add.aspx"><img class="a" src="images/Add.png" /></a>
    <a href="exit.aspx"><img class="a" src="images/יציאה.png" /></a>  
<% } %> 

<%-- דפי הנהלה - למנהל בלבד (לא נגענו בעדכונים!) --%>
<% if (Session["nihol"] == "ok") { %>
    <a href="update.aspx"><img class="a" src="images/עדכונים.png" /></a>    
    <a href="managment.aspx"><img class="a" src="images/הנהלה.png" /></a>
<% } %>
                </th>
            </tr>

            <tr style="height: 500px">
                <td>  
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
    </center>    
</body>
</html>